html {
  min-height: 100%;
}


body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  /* background: #b0ffd9; */
  /* background-image: linear-gradient(120deg, #003efa 20%, #16004d 200%); */
  /* background: linear-gradient(#e66465, #9198e5); */
  font-family: "Poppins", sans-serif;
  
}

.App {
  text-align: center;
  
}

h1 {
  font-size: 4em;
  color: white;
  margin-bottom: 50px;
}

.pageText {
  color: white;
}

.navBtn {

  border-radius: 8%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  transition: all 0.3s ease 0s;
  margin-right: 10px;
  margin-bottom: 20px;
}

.navBtn:hover {
  box-shadow: 0px 15px 20px rgba(9,9,121,1);
  transform: translateY(-7px);
}

.searchBtn {
  background: #00639c;
  color: white;
  font-size: large;
  border-radius: 8%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border: none;
  padding: 10px;
  transition: all 0.3s ease 0s;
}
.searchBtn:hover {
  background: #004973;
  
  
}

input {
  padding: 4px;
  font-size: large;
  margin-bottom: 8px;
}

th {
  font-size: 20px;
  padding: 20px;

}
.searchTable {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  background: #d6fcff;
  padding: 20px;
  border-radius: 8%;
  border: none;

}

.resultsTable {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border-collapse: collapse;
  background: #d6fcff;
  border: none;
  border-radius: 4px;
  padding: 20px;
  padding-bottom: 100px;
}

.resultsTable td {
  padding:11px;
  font-weight: bold;
}

.resultsTable tr {
  border-bottom: 5px solid #00639c;
}

.paginationBtns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBtns a {
  background: #d6fcff;
  cursor: pointer;
  /* color: white; */
  margin-top: 10px;
  padding: 10px;
  margin: 8px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
}

.paginationBtns a:hover {
  cursor: pointer;
  border: 1px solid #d6fcff; 
}

.paginationActive a{
  background: #00639c;
  color: white;
}

/* table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: 1px solid black;
  border-collapse: collapse;
  background: #d6fcff;
} */

/* tr {
  
  padding-bottom: 100px;
   
}   */

/* th, td {
  border-right: 1px solid black;
  padding: 10px;
  
} */


